section.notfound {
  display: grid;
  grid-template-rows: repeat(2, 0.9fr);
  margin: 30px;
}

aside.notfoundtext {
  grid-row-start: 2;
  text-align: left;
}

aside.notfoundtext h1 {
  text-transform: initial;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

aside.notfoundtext h1::first-letter {
  text-transform: capitalize;
}

aside.notfoundtext p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 33px;
}

aside.notfoundimg {
  grid-row-start: 1;
  font-weight: 600;
  font-size: 120px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  align-items: center;
  justify-items: center;
  width: max-content;
  margin: auto;
}

@media screen and (min-width: 540px) {
  aside.notfoundtext h1 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  section.notfound {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    margin: 100px 70px 120px;
    align-items: center;
  }

  aside.notfoundtext {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  aside.notfoundtext h1 {
    margin-top: 0;
  }

  aside.notfoundimg {
    grid-column-start: 2;
  }
}
