section.services {
  margin: 60px 0;
  padding: 10px 30px;
  text-align: left;
}

section.services h1 {
  font-size: 20px;
}

section.services h2 {
  font-size: 14px;
  margin: 0;
}

section.services p {
  font-size: 12px;
  margin-top: 20px;
}

section.services div {
  display: flex;
  align-items: center;
}

section.services img {
  width: 40px;
  margin-right: 20px;
}

@media screen and (min-width: 540px) {
  section.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
  }

  section.services h2 {
    font-size: 18px;
  }

  section.services p {
    font-size: 16px;
  }

  section.services img {
    width: 50px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  section.services {
    margin: 0;
    padding: 0 70px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}