section.packages {
  background: #e5e5e5;
  padding: 10px 10px 30px;
  text-align: initial;
}

aside.package-vector {
  text-align: center;
  margin-bottom: 90px;
}

aside.package-vector img {
  width: 90%;
}

section.packages aside {
  padding: 10px;
}

section.packages h3 {
  font-size: 18px;
}

section.packages p {
  font-size: 16px;
}

section.packages > aside > div > div {
  position: relative;
  left: -13px;
  top: 36px;
}

section.packages div > p,
div > h3 {
  padding: 10px 30px;
}

section.packages button {
  margin-top: 20px;
}

section.packages aside div p {
  border-left: 2px solid #dcdada;
}
